body { padding-top: 70px; }

.col-centered{
    float: none;
    margin: 0 auto;
    margin-top:200px;
}
 #dashboardEventslogger {
     background-color:white;
     color:green;
     text-align:left;
     height: 300px;
 }

 #errorModal button {
     margin-top: 10px;
 }

 #errorModal span{
     font-size: 15px;
 }

.backgroundimage {
    background: url('../imgs/fire-2.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#settingsTableRulesHeader {
    margin-top: 100px;
}

.graph{
    border:solid 1px black;
}